.con1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.omikuzi {
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.sketch {
    flex: 0 0 80px;
    justify-content: end;
}
