html,body{
    height: 100%;
    background-color: #E6E6E6;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
/*slotの枠線*/
#slots_a, #slots_b, #slots_c {
    margin-top: 250px;
    float: left;
    width: 192px;
    height: 96px;
    border: 2px solid;
    overflow: hidden;
    font-size: 0;
}

/*slot枠線の親要素*/
.slot-container{
    margin: 0 auto;
    width: 600px;
}
/*slotの図柄*/
.wrapper img{
    border: none;
    width: 100%;
    height: 96px;
    object-fit: contain;
    margin: 0;
}
/*slot背景*/
.slot-page{
    background-image: url("slot/images/slot-toppage.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;

}
/*startボタン*/
input[type="button"] {
    margin-top: 35px;
    height: 40px;
    margin-left: 230px;
    animation: flash 1s ease infinite alternate;
}
@keyframes flash {
    0%,100%{
        opacity: 1;
    }

    25%{
        opacity: 1;
        color:#7fff00;
    }

    50%{
        opacity: 1;
        color:#0091EA;
    }

    75%{
        opacity: 1;
        color:#ff1493;
    }
}


