.yabai {
    height: 100vh;
    width: 100%;
}

.btn-square-shadow {
    display: inline-block;
    padding: 1.5% 2.3%;
    text-decoration: none;
    background: #668ad8; /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    position: absolute;
    left: 44%;
    top: 87%;
    font-size: 28px;
}

.btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px); /*下に動く*/
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
    border-bottom: none;
}

.nameko {
    height: 82%;
    width: 82%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

