.yabai {
    width: 1280px;
    height: 720px;
    background-image:url("kankou11.jpg");
    background-size: cover;
    background-position: center;
    background-color: #627295;
}

.btn-square-shadow {
    display: inline-block;
    padding: 1em 0.5em;
    text-decoration: none;
    background: #668ad8; /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    position: absolute;
    right: 600px;
    bottom: 28px;
    font-size: 25px;
}

.btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px); /*下に動く*/
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
    border-bottom: none;
}



