
.slots {
    width: 48px;
    height: 94px;
    border: 2px solid;
    float: left;
}

.slots .wrapper {
    width: 46px;
}

* {
    box-sizing: border-box;
}

#slots_a,
#slots_b,
#slots_c {
    float: left;
    width: 48px;
    height: 94px;
    border: 2px solid;
    overflow: hidden;
}

#slots_a .wrapper,
#slots_b .wrapper,
#slots_c .wrapper {
    width: 46px;
}

#slots_a .wrapper .slot,
#slots_b .wrapper .slot,
#slots_c .wrapper .slot {
    width: 46px;
    height: 30px;
    text-align: center;
    padding-top: 2px;
}

.wrapper1 {

}

.description {
    margin-left: 800px;
    margin-top: -200px;
}

.information {
    margin-left: 550px;
}
.button {
    margin-left: 800px;
    margin-top: 100px;
}
/*主な共通部分は省略*/

a.btn--orange {
    color: #fff;
    background-color: #eb6100;
}

a.btn--orange:hover {
    color: #fff;
    background: #f56500;
}

a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle {
    border-radius: 50%;
    line-height: 100px;
    width: 100px;
    height: 100px;
    padding: 0;
}
